DefaultPreferredLanguage = "ru"
DefaultAdmins = ["{{ drasl_first_admin_username }}"]

Domain = "drasl.{{ domain }}"
BaseURL = "https://drasl.{{ domain }}"

[CreateNewPlayer]
AllowChoosingUUID = true

[RegistrationNewPlayer]
Allow = true
RequireInvite = true