mixed-port: 7890
allow-lan: true
mode: rule
log-level: info

proxy-providers:
  subscription:
    type: http
    url: '{{ mihomo_sub_url }}'
    interval: 3600
    health-check:
      enable: true
      interval: 600
      url: https://cp.cloudflare.com

proxy-groups:
  - name: PROXY
    type: select
    use:
      - subscription

rules:
  - MATCH,PROXY
